.navbar

        li
          a(href='/') Mecado.net

        if user
          ul#ordiNav.nav-right
            li#imgOrdi
                if user.picture
                  img#imgDropdownOrdi(src=user.picture)
                else
                  img#imgDropdownOrdi(src=user.gravatar)

                | <span class="white"> #{user.name || user.email || user.id} </span>
                i.caret

            ul#ulDrop.dropdownOrdi
              li
                a(href='/account') My Account
              li
                a(href='/logout') Logout

          ul#mobile.nav-right
            li#imgMobile
              if user.picture
                img#imgDropdown(src=user.picture)
              else
                img#imgDropdown(src=user.gravatar)

              | <span id="drop"> #{user.name || user.email || user.id} </span>
              i.caret

            ul#ulDrop.dropdown
              li
                a(href='/account') My Account
              li
                a(href='/mesList') My list
              li
                a(href='/logout') Logout

        else
          ul#ordi(class=(title == 'Log in') ? 'active' : null).nav-right

            li
              img(src='img/user.png').img-small
            li
              a(href='/login') Log in
            li
              | /
            li
              a(href='/signup') Sign up

          ul#mobile.nav-right
            li#imgMobile
              img#imgDropdown(src='img/dropdown.png')
            ul#ulDrop.dropdown
              li
                a(href='/login') Log in
              li
                a(href='/signup') Sign up
