extends layout

block content
  - var i = 0
  - each result in tabitem
    div.art
      div.a
        - each res in tabimg
          if res.id_item == result.id
            img.i(src='img/'+res.nom)
      ul.liste
        li=result.nom
        li='Prix : '+result.tarif+'€'
        a.lien(href=result.url)
          li='Acheter en magasin'
        li=result.desc
      form.ajout(method='POST', action='/addarticle')
        input(type='hidden', name='id', value=result.id)
        input(type='hidden', name='idliste', value=idliste)
        input.adj.inp(type='submit' value='AJOUTER')
      - i += 1
