extends layout

block content
  a(href='/article?id_liste='+idliste)
    button(type='button') Ajouter cadeaux
  a(href='/addArticle?id_liste='+idliste)
    button(type='button') Créer cadeaux
  -var boolean = false
  -each result in tabitem
    -each res in tabapp
        if result.attributes.id == res.attributes.id_item
          if res.attributes.id_liste == idliste
            -boolean = true
            div.art
              div.a
                - each r in tabimg
                  if r.attributes.id_item == result.attributes.id
                    img.i(src='img/'+r.attributes.nom)
              ul.liste
                li=result.attributes.nom
                li='Prix : '+result.attributes.tarif+'€'
                if res.attributes.url != null || res.attributes.url != ''
                  a.lien(href=result.attributes.url)
                    li='Acheter en magasin'
                li=result.attributes.desc



  -each result in tabitem
    if result.attributes.id_list!=null
      if result.attributes.id_list == idliste
        -boolean = true
        div.art
          div.a
            - each r in tabimg
              if r.attributes.id_item == result.attributes.id
                img.i(src='img/'+r.attributes.nom)
          ul.liste
            li=result.attributes.nom
            li='Prix : '+result.attributes.tarif+'€'
            if result.attributes.url != null || result.attributes.url != ''
              a.lien(href=result.attributes.url)
                li='Acheter en magasin'
            li=result.attributes.desc

  if boolean == true
    form(method='POST', action='/geneURL')
      input(type='hidden', name='id', value=idliste)
      input(type='submit' value='Générer URL')
  else
    p Aucun item présent dans cette liste.
