extends layout

block content
  -each result in tabitem
    -each res in tabapp
        if result.attributes.id == res.attributes.id_item
          if res.attributes.id_liste == idliste
            div.art
              div.a
                - each r in tabimg
                  if r.attributes.id_item == result.attributes.id
                    img.i(src='img/'+r.attributes.nom)
              ul.liste
                li=result.attributes.nom
                li='Prix : '+result.attributes.tarif+'€'
                if res.attributes.url != null || res.attributes.url != ''
                  a.lien(href=result.attributes.url)
                    li='Acheter en magasin'
                li=result.attributes.desc


              -each reserv in tabres
                  if (reserv.id_item == result.attributes.id)
                    text.reserve

              form.ajout(method='POST', action='/formReserv?id_liste='+idliste+'&id_produit='+result.attributes.id)
                  input(type='hidden', name='id', value=)
                  input.reserve.adj.inp(type='submit')


  -each result in tabitem
    if result.attributes.id_list!=null
      if result.attributes.id_list == idliste
        div.art
          div.a
            - each r in tabimg
              if r.attributes.id_item == result.attributes.id
                img.i(src='img/'+r.attributes.nom)
          ul.liste
            li=result.attributes.nom
            li='Prix : '+result.attributes.tarif+'€'
            if result.attributes.url != null || result.attributes.url != ''
              a.lien(href=result.attributes.url)
                li='Acheter en magasin'
            li=result.attributes.desc

          -each reserv in tabres
              if (reserv.id_item == result.attributes.id)
                text.reserve

          form.ajout(method='POST', action='/formReserv?id_liste='+idliste+'&id_produit='+result.attributes.id)
              input(type='hidden', name='id', value=)
              input.reserve.adj.inp(type='submit')
