extends layout

block content
  a(href='/article?id_liste='+idliste)
    button.btn(type='button') Ajouter cadeaux
  a(href='/addArticle?id_liste='+idliste)
    button.btn(type='button') Créer cadeaux
  -var boolean = false
  -each result in tabitem
    -each res in tabapp
        if result.attributes.id == res.attributes.id_item
          if res.attributes.id_liste == idliste
            -boolean = true
            div.art
              div.a
                - each r in tabimg
                  if r.attributes.id_item == result.attributes.id
                    img.i(src='img/'+r.attributes.nom)
              - var bool = false
              ul.liste
                li=result.attributes.nom
                li='Prix : '+result.attributes.tarif+'€'
                if res.attributes.url != null || res.attributes.url != ''
                  a.lien(href=result.attributes.url)
                    li='Acheter en magasin'
                li=result.attributes.desc

                -each reserv in tabres
                    if (reserv.id_item == result.attributes.id)
                      text.reserve
                      - bool = true
              if bool == true
                  input.ajout.reserve.inp(type='submit' value=' EST RESERVE')
              else
                form.ajout(method='POST', action='/delItem')
                    input(type='hidden', name='id_liste', value=idliste)
                    input(type='hidden', name='id_produit', value=result.attributes.id)
                    input.reserve.adj.inp(type='submit' value='SUPPRIMER')


  -each result in tabitem
    if result.attributes.id_list!=null
      if result.attributes.id_list == idliste
        -boolean = true
        div.art
          div.a
            - each r in tabimg
              if r.attributes.id_item == result.attributes.id
                img.i(src='img/'+r.attributes.nom)
          - var bool = false
          ul.liste
            li=result.attributes.nom
            li='Prix : '+result.attributes.tarif+'€'
            if result.attributes.url != null || result.attributes.url != ''
              a.lien(href=result.attributes.url)
                li='Acheter en magasin'
            li=result.attributes.desc

            -each reserv in tabres
                if (reserv.id_item == result.attributes.id)
                  text.reserve
                  - bool = true
          if bool == true
              input.ajout.reserve.inp(type='submit' value=' EST RESERVE')

  if boolean == true
    form(method='POST', action='/geneURL')
      input(type='hidden', name='id', value=idliste)
      input.btn(type='submit' value='Générer URL')
  else
    p Aucun item présent dans cette liste.
