extends layout

block content
  .container-fluidZZ
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg


    form.form-style-9(action = '/reserveArticle', method = 'POST')
            div
              input(type='hidden', name='id_liste', value=idliste)
              input(type='hidden', name='id_produit', value=idproduit)
            div
              label(for='nom') Votre nom :
              input#nom(type='text' name="nom" required autofocus)
            br
            div
              label(for='msgPrive') Message Privé :
              br
              <textarea class="comm" id="msgPrive" name="msgPrive" wrap="soft"></textarea>
            br
            div
              input(type='submit', value='Valider')
